body{
	font-family: arial,Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: grey;
	overflow: hidden;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;

}
.container a{
	font-family: arial,Helvetica, sans-serif;
	font-size: 30px;
	line-height: 2.85;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.container a:hover{
	cursor: pointer;
	background: none;
	color: red;

}
header{
	background: #35424a;
	color: #fff;
	padding-top: 10px;
	min-height: 90px;
	border-bottom: red 3px solid;
}
.bg-image{
	background-image:url(../img/banner1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
}
.signbox{
	width: 300px;
	height: 500px;
	background: transparent;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 50px 30px;
	background-color: #ffffff;
	
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: 30%;
}
.signbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.signbox input{
	width: 100%;
	margin-bottom: 10px;
	font-family: timesnewroman;
}
.signbox input[type="name"], input[type="password"], input[type="number"], input[type="email"],input[type="name"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 30px;
	color: black;
	font-size: 10px;
}
.signbox input[type="file"]
{
	float:right;
	left: 20px;
	box-sizing: 10px;
}
.signbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 25px;
	background: red;
	color: #fff;
	font-size: 20px;
	border-radius: 20px;
	font-weight: bold;
}
.signbox input[type="submit"]:hover
{
	cursor: pointer;
	background:grey;
	color: #000;
}
.signbox a{
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: black;
	font-weight: bold;
}
.signbox a:hover 
{
	cursor: pointer;
	background: none;
	color: red;

}
.signbox h1{
	margin-top: 0;
	padding: 0;
	color: black;
	font-size: 25px;
}